.svg-image {
    position: realtive;
    margin: 30px 10px 0px 10px;
    @media #{$small} {
        position: fixed;
        width: 800px;
        margin: 20px 50px 0px 50px;
    }
    @media #{$medium} {
        width: 1000px;
        margin: 20px 150px 0px 150px;
    }
    @media #{$large} {
        width: 1200px;
        margin: 0px 150px 0px 150px;
    }
}

//************ EYES OF THE BOSS ************
#eyes {
    @include animation-mixin(eyes-boss, 15s, infinite, ease);
}

@include keyframes(eyes-boss) {
    0%,
    30% {
        @include translateY-mixin(2px);
    }
    30%,
    40% {
        @include translateY-mixin(3px);
    }
    60% {
        @include translateY-mixin(4px);
    }
    80%,
    81% {
        visibility: hidden;
    }
    100% {
        @include translateY-mixin(-7px);
    }
}

//************ ARMCHAIR OF THE BOSS ************
#red_armchair,
#body,
#arm_biceps,
#shoulder,
#neck,
#legs {
    @include animation-mixin(red_armchair, 3s, infinite, ease);
    @include transform-origin-mixin(50%, 50%);
    @include animation-delay-mixin(13s);
}

@include keyframes(red_armchair) {
    50% {
        @include skewX-mixin(1deg);
    }
}

// ******************************** Animation of coffee drinking *******************************
//************ SMOKE FROM CUP ************
#smoke1 {
    @include animation-mixin(smoke1, 3.5s, infinite, ease);
}

#smoke2 {
    @include animation-mixin(smoke2, 3s, infinite, ease);
}

@include keyframes(smoke1) {
    50% {
        @include translate-mixin(3px, 6px);
    }
}

@include keyframes(smoke2) {
    50% {
        @include translate-mixin(4px, 5px);
    }
}

//************ COFFEE ************
#coffee_mug {
    @include animation-mixin(coffee, 5s, 2, ease);
    @include transform-origin-mixin(80%, 80%);
    @include translate-mixin(-20px, -10px);
    @include animation-delay-mixin(3s);
}

@include keyframes(coffee) {
    80% {
        @include rotate-mixin(-15deg);
    }
}

#smoke {
    @include animation-mixin(smokes, 5s, 2, ease);
    @include transform-origin-mixin(80%, 80%);
    @include animation-delay-mixin(3s);
}

@include keyframes(smokes) {
    80% {
        @include rotate-mixin(-65deg);
    }
}

// ************ HAND WHICH HOLDS THE PAPER ************
#hand_paper,
#paper {
    @include animation-mixin(handpaper, 5s, 2, ease);
    @include transform-origin-mixin(0%, 50%);
    @include animation-delay-mixin(3s);
}

@include keyframes(handpaper) {
    80% {
        @include rotate-mixin(10deg);
    }
}

//************ HAND OF THE BOSS ************
#forehand,
#biceps {
    @include animation-mixin(forehand, 5s, 2, ease);
    @include translate-mixin(-20px, -10px);
    @include animation-delay-mixin(3s);
}

@include keyframes(forehand) {
    80% {
        @include translateY-mixin(0px);
    }
}

//************ HEAD OF THE BOSS ************
#head {
    @include animation-mixin(head-boss, 5s, 2, ease);
    @include animation-delay-mixin(3s);
}

@include keyframes(head-boss) {
    80% {
        @include skewX-mixin(2deg);
    }
}

//************ MOUTH OF THE BOSS ************
#mouth {
    @include animation-mixin(mouth-boss, 5s, 2, ease);
    @include animation-delay-mixin(3s);
}

@include keyframes(mouth-boss) {
    80% {
        @include skewX-mixin(3deg);
    }
}

//************ EYEBROWS OF THE BOSS ************
#eyebrows {
    @include animation-mixin(eyebrows-boss, 5s, 2, ease);
    @include animation-delay-mixin(3s);
}

@include keyframes(eyebrows-boss) {
    80% {
        @include translateY-mixin(-5px);
    }
    90% {
        @include translateY-mixin(-4px);
    }
}

// ******************************** Animation of the calling phone *******************************
//************ PHONE ************
#phone {
    @include animation-mixin(phone, 0.5s, 20, ease);
    @include animation-delay-mixin(9);
    @include transform-origin-mixin(50%, 50%);
}

@include keyframes(phone) {
    50% {
        @include skewY-mixin(2deg);
    }
    100% {
        @include skewY-mixin(3deg);
    }
}

//************ PHONE DISPLAY ************
#phone,
#shadow_phone {
    .st10 {
        @include animation-mixin(phone-display, 1s, 10, ease);
        @include animation-delay-mixin(9s);
    }
}

@include keyframes(phone-display) {
    50% {
        fill: #DCDCDC;
    }
    100% {
        fill: #62627F;
    }
}

// ******************************** Animation of shoe movement *******************************
//************ SHOES OF THE BOSS ************
#shoe_1 {
    @include animation-mixin(shoeL-boss, 1s, 6, ease);
    @include transform-origin-mixin(50%, 50%);
}

@include keyframes(shoeL-boss) {
    50% {
        @include skewX-mixin(3deg);
    }
}

#shoe_2 {
    @include animation-mixin(shoeR-boss, 1s, 8, ease);
    @include animation-delay-mixin(15s);
    @include transform-origin-mixin(50%, 50%);
}

@include keyframes(shoeR-boss) {
    50% {
        @include skewX-mixin(3deg);
    }
}

// ******************************** Animation of the trees *******************************
//************ THE TREES ************
#trees {
    @include animation-mixin(trees, 3s, infinite, ease);
}

@include keyframes(trees) {
    50% {
        @include translate-mixin(-4px, 6px);
    }
}

// ******************************** Animation of the employee *******************************
//************ EYE OF THE EMPLOYEE ************
#eye {
    @include animation-mixin(eye-employee, 10s, infinite, ease);
}

@include keyframes(eye-employee) {
    60%,
    61% {
        visibility: hidden;
    }
}

//************ THE HEAD OF THE EMPLOYEE ************
#ginger_head {
    @include animation-mixin(head-employee, 25s, 1, ease);
    @include animation-delay-mixin(5s);
    @include transform-origin-mixin(50%, 50%);
}

@include keyframes(head-employee) {
    50% {
        @include rotate-mixin(-12deg);
    }
}

//************ THE SUIT OF THE EMPLOYEE ************
#base,
#collar,
#white_collar {
    @include animation-mixin(base-suit, 25s, 1, ease);
    @include animation-delay-mixin(5s);
    @include transform-origin-mixin(50%, 50%);
}

@include keyframes(base-suit) {
    50% {
        @include translateX-mixin(20px);
    }
}

//************ PAPERS OF THE TABLE ************
#papers {
    @include translate-mixin(150px, 15px);
}

//************ ARM OF THE EMPLOYEE ************
#hand,
#white_shirt,
#suit_arm,
#buttons {
    @include animation-mixin(arm-employee, 5s, 1, ease);
    @include animation-delay-mixin(8s);
}

@include keyframes(arm-employee) {
    23% {
        @include translate-mixin(-40px, -12px);
    }
    50% {
        @include translate-mixin(-20px, -12px);
    }
}

//************ SHADOW OF ARM OF THE EMPLOYEE ************
#arm_shadow {
    @include animation-mixin(arm-shadow, 5s, 1, ease);
    @include transform-origin-mixin(50%, 50%);
    @include animation-delay-mixin(8s);
}

@include keyframes(arm-shadow) {
    30% {
        @include rotate-mixin(38deg);
    }
    42% {
        @include rotate-mixin(35deg);
    }
}

// ******************************** Animation of the fly *******************************
//************ FLY ************
#fly {
    @include animation-mixin(fly, 7s, 1, ease);
    visibility: hidden;
}

@include keyframes(fly){
    0% {
        visibility: visible;
    }
    50% {
        @include translate-mixin(550px, -40px);
    }
    80% {
        @include translate-mixin(550px, -50px);
    }
    100% {
        @include translate-mixin(950px, -500px);
    }
}

//************ FLY WINGS ************
#wing_1 {
    @include animation-mixin(wing_1, 0.5s, infinite, ease);
    @include transform-origin-mixin(50%, 100%);
}

@include keyframes(wing_1) {
    50% {
        @include rotate-mixin(20deg);
    }
}

#wing_2 {
    @include animation-mixin(wing_2, 0.5s, infinite, ease);
    @include transform-origin-mixin(100%, 50%);
}

@include keyframes(wing_2) {
    50% {
        @include rotate-mixin(-20deg);
    }
}

//************ FLY LEGS ************
#fly_legs {
    @include animation-mixin(fly_legs, 1s, infinite, ease);
    @include transform-origin-mixin(100%, 50%);
}

@include keyframes(fly_legs) {
    50% {
        @include rotate-mixin(15deg);
    }
}

// ******************************** Animation of the pen *******************************
// ************ PEN ************
#pen {
    @include animation-mixin(pen, 180s, 1, ease);
    @include animation-delay-mixin(8s);
    @include translate-mixin(310px, 30px);
}

@include keyframes(pen) {
    1%,
    100% {
        @include translate-mixin(280px, 10px);
    }
    // 50% {
    //     transform: translate(280px, 10px);
    // }
    // 100% {
    //     transform: translate(280px, 10px);
    // }
}

// ************ COLOR SHADOW PEN ************
#shadow_pen,
.st18 {
    fill: #5F5F5F;
    opacity: 0.8;
}

// ******************************** Animation of the clock *******************************
//************ CLOCK ************
#clock {
    @include animation-mixin(clock, 11s, 1, ease);
    @include transform-origin-mixin(100%, 50%);
    visibility: hidden;
}

@include keyframes(clock) {
    0% {
        visibility: visible;
    }
    35% {
        @include skewX-mixin(4deg);
    }
    50% {
        @include skewX-mixin(-4deg);
    }
    70% {
        @include translate-mixin(50px, 500px);
    }
    70%,
    100% {
        visibility: hidden;
    }
}

// ************ TEXT ************
.dialog {
    margin-left: 20px;
    margin-right: 20px;
    @media #{$small} {
        margin-left: 100px;
    }
    @media #{$medium} {
        margin-left: 250px;
    }
    @media #{$large} {
        margin-left: 350px;
    }
    #text-boss-1,
    #text-employee-1,
    #text-boss-2,
    #text-employee-2,
    #text-boss-3,
    #text-employee-3,
    #text-boss-4,
    #text-employee-4 {
        @media #{$small} {
            max-width: 500px;
        }
    }
    p {
        font-family: $font-family-secondary;
        font-size: 20px;
        @media #{$medium} {
            font-size: 28px;
        }
    }
}

#text-boss-1 {
    @include animation-mixin(text_boss_1, 5s, 1, ease);
    @include animation-delay-mixin(3s);
    visibility: hidden;
    position: absolute;
}

@include keyframes(text_boss_1) {
    50% {
        visibility: visible;
    }
}

#text-employee-1 {
    @include animation-mixin(text_employee_1, 8s, 1, ease);
    @include animation-delay-mixin(8s);
    visibility: hidden;
    position: absolute;
}

@include keyframes(text_employee_1) {
    50% {
        visibility: visible;
    }
}

#text-boss-2 {
    @include animation-mixin(text_boss_2, 3s, 1, ease);
    @include animation-delay-mixin(16s);
    visibility: hidden;
    position: absolute;
}

@include keyframes(text_boss_2) {
    50% {
        visibility: visible;
    }
}

#text-employee-2 {
    @include animation-mixin(text_employee_2, 3s, 1, ease);
    @include animation-delay-mixin(19s);
    visibility: hidden;
    position: absolute;
}

@include keyframes(text_employee_2) {
    50% {
        visibility: visible;
    }
}

#text-employee-3 {
    @include animation-mixin(text_employee_3, 3s, 1, ease);
    @include animation-delay-mixin(22s);
    visibility: hidden;
    position: absolute;
}

@include keyframes(text_employee_3) {
    50% {
        visibility: visible;
    }
}

#text-boss-3 {
    @include animation-mixin(text_boss_3, 3s, 1, ease);
    @include animation-delay-mixin(25s);
    visibility: hidden;
    position: absolute;
}

@include keyframes(text_boss_3) {
    50% {
        visibility: visible;
    }
}

#text-employee-4 {
    @include animation-mixin(text_employee_4, 3s, 1, ease);
    @include animation-delay-mixin(28s);
    visibility: hidden;
    position: absolute;
}

@include keyframes(text_employee_4) {
    50% {
        visibility: visible;
    }
}

#text-boss-4 {
    @include animation-mixin(text_boss_4, 4s, 1, ease);
    @include animation-delay-mixin(31s);
    visibility: hidden;
    position: absolute;
}

@include keyframes(text_boss_4) {
    50% {
        visibility: visible;
    }
}



