// Variables for fonts
$font-family-sans-serif: 'Open Sans', Arial, sans-serif;
$font-family-secondary: 'VT323', monospace;
// Media Queries
$small: "only screen and (min-width: 768px)";
$medium: "only screen and (min-width: 992px)";
$large: "only screen and (min-width: 1366px)";